body{
    background-color: whitesmoke;
}

h1{
    text-decoration: underline;
    font-weight: bolder;
}

.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: rgba(13, 13, 110, 0.497);
}

.countries{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

ul{
    list-style-position: inside;
    font-weight: 300;
}

ol{
    list-style-position: inside;
    font-weight: 900;
}

.youtube{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.tableaulink{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.tableauPlaceholder{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}